profiles {

    local_execution {
        process.executor = 'local'
    }
    
    slurm {
        executor {
            name = 'slurm'
            queueSize = 500

        }
        process.executor = 'slurm'
    }

    default_params {
        params.minimum_donors = 5
        params.stage = 'run_predictions'
        params.mode = "NOT_SPECIFIED"
        params.models = "NOT_SPECIFIED"
        params.gene_selection = "NOT_PROVIDED"
        params.from_cache = 'NOT_PROVIDED'
        params.chromosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"
        params.analyses = "alternativeAlleles,samePromoter,otherPromoters,nearbyInPromoter"
        params.shift_bp = 15
        
        params.number_of_tests = 19000
        
        params.borzoi_folds = "f0,f1,f2,f3"

    }
    
    common_cluster {
        
        process {
            errorStrategy = 'terminate'
            maxRetries = 2
            
            //DEFAULT
            memory = 16.GB
            time = 10.minutes
            cpus = 1
            
            withName: add_region_to_parquet {
                memory = 16.GB
                time = 3.hour
                cpus = 1
            }
            
            withName: compress_parquet {
                memory = 16.GB
                time = 50.hour
                cpus = 1
            }
            
            withName: ism_inputs {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }
            
            withName: mutatedBasePairs_inputs {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }
            
            withName: from_cache {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }

            withName: sure_tsv_like {
                memory = 16.GB
                time = 1000.second
                cpus = 1
                errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'finish' }
                maxRetries = 2
            }
            
            withName: sureResnet_tsv_like {
                memory = { 8.GB * task.attempt }
                time = '5 hour 50 sec'
                cpus = 1
                errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
            		maxRetries = 2
                containerOptions = '--nv'
            }
            
            withName: enformer_tsv_like {
                memory = 50.GB
                time = 24.hour
                cpus = 1
                containerOptions = '--nv'
            }
            
            withName: borzoi_tsv_like {
                //errorStrategy = 'terminate'
                memory = 20.GB
                time = '5 hour 50 sec'
                errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
            		maxRetries = 2
                cpus = 1
                containerOptions = '--nv --no-home'
            }
            
            withName: borzoi_post_processing {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: vep_tsv_like {
                memory = 16.GB
                time = 6.hour
                cpus = 1
                beforeScript = 'module load VEP'
            }
            
            withName: alpha_missense {
                memory = 16.GB
                time = 3.hour
                cpus = 1
            }
            
            withName: prediction_post_process_sure {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: prediction_post_process_borzoi {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }

	          withName: prediction_post_process {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: alternative_allele_analysis {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: nearbyInPromoter_analysis {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: samePromoter_analysis {
                memory = 16.GB
                time = 6.hours
                cpus = 1
            }
            
            withName: otherPromoters_analysis {
                memory = { 16.GB * task.attempt }
                time = 2.hours
                cpus = 1
                //errorStrategy = 'retry'
                //maxRetries = 2
            }
            
            withName: plot_wilcoxon {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }
            
            withName: plot_wilcoxon_all_types {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }
            
            withName: plot_wilcoxon_model_results {
                memory = 16.GB
                time = 1.hour
                cpus = 1
            }
            withName: icgc_cancer_types {
                memory = 16.GB
                time = 10.minutes
                cpus = 1
            }
        }
    }
    
    umcg {

        process {
            
            clusterOptions = '--qos regular --nodes 1'
            
            withName: sureResnet_tsv_like {
                clusterOptions = '--qos regular --nodes 1 --gpus-per-node 1'
            }
            
            withName: enformer_tsv_like {
                clusterOptions = '--qos regular --nodes 1 --gpus-per-node 1'
            }
            
            withName: borzoi_tsv_like {
                clusterOptions = '--qos regular --nodes 1 --gpus-per-node 1'
            }
            
        }
    }

    gearshift {
        singularity.enabled = true

        //SuRE Prediction code
        params.sure_dir = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/umcg-curzua/repos_cgut/SuRE-CNN"

        params.project_folder = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/umcg-curzua/pipeline_output/nocosomu_iDriver/"
        params.reference_genome = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/models/sure/surecnn/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
        params.cancer_drivers = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/gene_sets/master_driver_sets.csv"
        
        params.gene_annotation = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/ensembl/downloads/genes_Ensembl94_protein_coding.txt"
        params.gencode_annotation = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/gencode/downloads/gencode.v41lift37.basic.annotation.gtf.gz"


        params.vep_dir_cache = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/umcg-curzua/scratch_cgut/sort_scratch/homo_sapiens/"
        
        params.subgroup_file = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/umcg-curzua/scratch_cgut/nocosomu_iDriver/icgc_subgroups.tsv"
    }
    
    sif {
        process {
        container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
        
            withName: add_region_to_parquet {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: compress_parquet {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_work.sif"
            }
            withName: ism_inputs {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: mutatedBasePairs_inputs {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: from_cache {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: sure_tsv_like {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//surecnn.sif"
            }
            withName: alpha_missense {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: prediction_post_process_sure {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: prediction_post_process_borzoi {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
	          withName: prediction_post_process {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: nearbyInPromoter_analysis {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: alternative_allele_analysis {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: samePromoter_analysis {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: otherPromoters_analysis {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: plot_wilcoxon {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: plot_wilcoxon_all_types {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: plot_wilcoxon_model_results {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
            withName: icgc_cancer_types {
                container = "/groups/umcg-fg/tmp01/projects/non-coding-somatic/shared/singularity/containers_cgut//curzua_workR.sif"
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B /groups/umcg-fg/tmp01/projects/non-coding-somatic/,/local/'
        }
    }

    nibbler {
        singularity.enabled = true
        
        //general out
        params.outdir = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/umcg-curzua/pipeline_output/"

        //SuRE Prediction code
        params.sure_dir = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/models/sure/vansteensellab/SuRE-CNN/"
        params.sure_dir_inhouse = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/models/sure/surecnn/"
        
        //Borzoi prediction code
        params.borzoi_dir = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/models/borzoi_stable/"
        params

        params.project_folder = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/umcg-curzua/pipeline_output/nocosomu_iDriver/"
        params.reference_genome = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/models/sure/surecnn/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
        params.cancer_drivers = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/gene_sets/master_driver_sets.csv"
        params.gene_annotation = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/ensembl/downloads/genes_Ensembl94_protein_coding.txt"
        params.subgroup_file = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/scratch_cgut/nocosomu_iDriver/icgc_subgroups.tsv"
        params.gencode_annotation = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/gencode/downloads/gencode.v41lift37.basic.annotation.gtf.gz"

        
    }

    sif_nibbler {
        process {
            container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            withName: add_region_to_parquet {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: compress_parquet {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_work.sif"
            }
            withName: ism_inputs {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: mutatedBasePairs_inputs {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: from_cache {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: sure_tsv_like {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/nibbler_torch.sif"
            }
	          withName: sureResnet_tsv_like {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/nibbler_torch.sif"
            }
            withName: enformer_tsv_like {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/nibbler_torch.sif"
            }
            withName: borzoi_tsv_like {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/borzoi.sif"
            }
            withName: borzoi_extract_sed {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/borzoi.sif"
            }
            withName: prediction_post_process_sure {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: prediction_post_process_borzoi {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
	          withName: prediction_post_process {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: nearbyInPromoter_analysis {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: alternative_allele_analysis {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
	          withName: samePromoter_analysis {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: otherPromoters_analysis {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: plot_wilcoxon {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: plot_wilcoxon_all_types {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: plot_wilcoxon_model_results {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
            withName: icgc_cancer_types {
                container = "/groups/umcg-fg/tmp02/projects/non-coding-somatic/shared/singularity/containers_cgut/curzua_workR.sif"
            }
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B /groups/umcg-fg/tmp02/projects/non-coding-somatic/,/local/'
        }
    }
}
