includeConfig "$HOME/.nextflow/config"
includeConfig "./../general/nextflow.config"

profiles {
  
  default_params {
    
    //Borzoi prediction code
    params.borzoi_folds = "f0,f1,f2,f3"
    params.borzoi_dir = "$ROOT_FOLDER/models/borzoi_stable/"
    //params.borzoi_annotation = "$ROOT_FOLDER/shared/gencode/downloads/gencode.v41lift37.basic.annotation.gtf.gz"
    //params.borzoi_annotation = "$ROOT_FOLDER/models/borzoi_stable/gencode41_basic_nort.gtf"
    params.borzoi_annotation = "$ROOT_FOLDER/models/borzoi_stable/gencode41lift37_basic_nort.gtf"

    params.borzoi_targets = "$ROOT_FOLDER/models/borzoi_stable/targets_gtex.txt"
    
    //params.reference_genome = "$ROOT_FOLDER/models/sure/surecnn/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    params.reference_genome = "$ROOT_FOLDER/models/borzoi_stable/hg19.fa"
    
    params.borzoiMode = "NOT_PROVIDED"
    params.borzoi_conversionTable = "$ROOT_FOLDER/shared/gencode/artifacts/gencode.v45.intronsToExonsAndTranscript.tsv.gz"
    
    params.borzoi_flags = "--ignore_allele_checks "
    params.chunkSize = 1500
    
    params.borzoi_columns = "#CHROM,STA,POS,REF,ALT,ID"
    
  }
  
  slurm {
    
    process {
      
      withName: borzoi_tsv_like {
        memory = { 16.GB * task.attempt }
	
        time = '6 hour'
        cpus = 1
        errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
        maxRetries = 3 
        containerOptions = '--nv --no-home'
      }

      withName: borzoi_splice_effect {
        memory = 16.GB
        time = '6 hour 50 sec'
        cpus = 1
      }
    }
  }
  
  umcg {
    
    process {
      errorStrategy = 'terminate'
      maxRetries = 3
      
    }
  }
  
  sif {
    process {
    
      borzoi_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/sequence_based_models.sif"
      // borzoi_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/borzoi.sif"
      
      withName: borzoi_tsv_like {
        container = borzoi_sif
      }
      withName: borzoi_extract_sed {
        container = borzoi_sif
      }
    }
    
  }
}
