includeConfig "$HOME/.nextflow/config"
includeConfig "./../general/nextflow.config"

profiles {

  default_params {

    //TODO
    
  }
  
  slurm {
    
    process {

      withName: alphagenome_format {
        memory = '16 GB'
        time = '2 hour'
        cpus = 1
        errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
        maxRetries = 2
      }
      
      withName: ALPHAGENOME_PREDICT {
        memory = { 10.GB * task.attempt }
        
        time = '6 hour'
        cpus = 1
        errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
        maxRetries = 3 
        containerOptions = '--nv --no-home -B /home/umcg-tvanlieshout/.kaggle:/home/umcg-tvanlieshout/.kaggle'
      }

    }
  }
  
  umcg {

    process {
      errorStrategy = 'terminate'
      maxRetries = 3

    }
  }

  sif {
    process {

      alphagenome_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/alphagenome.sif"

      withName: ALPHAGENOME_PREDICT {
        container = alphagenome_sif
      }
    }
  }
}
