includeConfig "$HOME/.nextflow/config"
includeConfig "./../general/nextflow.config"
nextflow.enable.moduleBinaries = true

profiles {
  
  default_params {

    params.cadd_file = "$ROOT_FOLDER/shared/cadd/whole_genome_SNVs.parquet"
    
  }
  
  slurm {
    
    process {
      
      withName: cadd_tsv_like {
        memory = 20.GB
        time = '5 hour 50 sec'
        cpus = 1
        errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'finish' }
        maxRetries = 2
      }
    }
  }
  
  umcg {
    
    process {
      errorStrategy = 'terminate'
      maxRetries = 3
      
    }
  }
}
