includeConfig "$HOME/.nextflow/config"

profiles {
  
  sif {
    process {

      rscript_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/curzua_workR.sif"
      python_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/sequence_based_models.sif"
      
      withName: alternativeAlleles_background {
        container = rscript_sif
        memory = 32.GB
      }
      withName: samePromoter_background {
        container = rscript_sif
        memory = 128.GB
      }
    }
  }
}
