includeConfig "$HOME/.nextflow/config"
includeConfig "./../general/nextflow.config"

profiles {
  
  default_params {
    
    //PARM prediction code
    params.sure_dir = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/"
    
    params.reference_genome = "$ROOT_FOLDER/models/sure/surecnn/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    params.sure_model = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/SuRE_ResNet_Attention_SuRE4n_tss_selection_m300_p100_stranded_EnhA_intersection_intersection_K562_TSS_EnhA_strand_False_trial_20_model_CNN.pth"
    
  }
  
  slurm {
    
    process {
      
      withName: sureResNet_tsv_like {
        memory = { 16.GB * task.attempt }
        time = '5 hour 50 sec'
        cpus = 1
        errorStrategy = { task.exitStatus in 135..143 ? 'retry' : 'terminate' }
        maxRetries = 2
      }

    }
  }
  
  umcg {
    
    process {
      errorStrategy = 'terminate'
      maxRetries = 3
      
    }
  }
  
  sif {
    process {
    
      sequence_based_models_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/sequence_based_models.sif"
      
      withName: sureResNet_tsv_like {
        container = sequence_based_models_sif
      }
    }

    
  }
}
