includeConfig "$HOME/.nextflow/config"
nextflow.enable.moduleBinaries = true

profiles {
  
  default_params {

    params.subgroup_file = "$ROOT_FOLDER/ICGC_per_tumor_type/icgc_subgroups.tsv"
    params.chromosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y"
    params.data_source = "ICGC"
    
    params.minimum_donors = 5
    params.germlineAlleleFrequency = 0.0001 // 0.01%
    params.skipQC = "" //Default: Nothing skipped

  }

  hg19 {
       params.within_repeat = "$ROOT_FOLDER/shared/anySTR/artifacts/hg19/"
       params.low_mappable = "$ROOT_FOLDER/shared/umap/artifacts/hg19/"
       params.blacklist = "$ROOT_FOLDER/shared/encode/hg19-blacklist.v2.bed"
       params.below_coverage = "$ROOT_FOLDER/shared/gnomad/artifacts/coverage_hg19_liftover/"
       params.germline_variants = "$ROOT_FOLDER/shared/gnomad/artifacts/faf95max_joint_hg19/"
       params.coding = "$ROOT_FOLDER/shared/gencode/artifacts/base_pairs/hg19/"
  }
  
  hg38 {
       params.within_repeat = "$ROOT_FOLDER/shared/anySTR/artifacts/hg38/"
       params.low_mappable = "$ROOT_FOLDER/shared/umap/artifacts/hg38/"
       params.blacklist = "$ROOT_FOLDER/shared/encode/hg38-blacklist.v2.bed"
       params.below_coverage = "$ROOT_FOLDER/shared/gnomad/artifacts/coverage/"
       params.germline_variants = "$ROOT_FOLDER/shared/gnomad/artifacts/faf95max_joint/noQc/"
       params.coding = "$ROOT_FOLDER/shared/gencode/artifacts/base_pairs/hg38/"
  }

  
  sif {
    process {

      rscript_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/curzua_workR.sif"
      python_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/sequence_based_models.sif"
      
      withName: import_ICGC {
        container = rscript_sif
      }
      withName: import_GE {
        container = python_sif
        memory = 64.GB
      }
      withName: elegible{
        container = rscript_sif
      }
      withName: remove_germline{
        container = python_sif
        memory = 16.GB
      }
      withName: filter_on_coverage{
        container = python_sif
        memory = 16.GB
      }
      withName: filter_on_blacklist{
        container = python_sif
        memory = 16.GB
      }
      
      withName: filter_basepairs{
        container = python_sif
        memory = 16.GB
      }
    }
    
  }
}
