includeConfig "$HOME/.nextflow/config"

profiles {
  
  sif {
    process {
      
      rscript_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/curzua_workR.sif"

      withName: delimitedFileSplitter {
        container = rscript_sif
	errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
      }
      
      withName: publish_file2 {
        memory = 1.GB
      }
      withName: name_file2 {
        memory = 1.GB
      }
      withName: collectFileList {
        memory = 1.GB
      }
    }
    
  }
}
