includeConfig "$HOME/.nextflow/config"
includeConfig "./../alphagenome/nextflow.config"
includeConfig "./../borzoi/nextflow.config"
includeConfig "./../sureResnet/nextflow.config"
includeConfig "./../cadd/nextflow.config"
includeConfig "./../importDataset/nextflow.config"
includeConfig "./../backgroundModels/nextflow.config"


profiles {
  
  default_params {

        params.gene_selection = "NOT_PROVIDED"
        params.analyses = "alternativeAlleles,samePromoter,otherTumors,nearbyInPromoter"
        params.shift_bp = 15
        
        params.region_subselection = "$projectDir/assets/NO_FILE"
        params.region_aggregation = "$projectDir/assets/NO_FILE"
        
        params.chromosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"
        
        params.borzoi_flags = "--ignore_allele_checks --rm_chr "
        
      params.parm_k562 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/SuRE_ResNet_Attention_SuRE4n_tss_selection_m300_p100_stranded_EnhA_intersection_intersection_K562_TSS_EnhA_strand_False_trial_20_model_CNN.pth"
//        params.parm_k562 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/SuRE_ResNet_Attention_SuRE4n_tss_selection_m300_p100_stranded_EnhA_intersection_intersection_K562_TSS_strand_False_trial_71_model_CNN.pth"
//        params.parm_k562 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/K562/"
        params.parm_hepg2 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/SuRE_ResNet_Attention_SuRE4n_tss_selection_m300_p100_stranded_EnhA_intersection_intersection_HEPG2_TSS_EnhA_strand_False_trial_13_model_CNN.pth"
        params.parm_caco2 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/CACO2/"
        params.parm_colo320 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/COLO320/"
        params.parm_ht29 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/HT29/"
        params.parm_ito66t = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/ITO66T/"
	params.parm_hct116 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/SuRE4n/HCT116/TSS_EnhA/"
//	params.parm_hct116 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/SuRE4n/HCT116/TSS/"
	params.parm_hct116_mh04 = "$ROOT_FOLDER/models/sure/vansteensellab/SuRE-CNN/models/04_MODELS/HCT116/"
//        params.cadd_file = "$ROOT_FOLDER/shared/cadd/whole_genome_SNVs.parquet"

	params.gene_annotation = "$ROOT_FOLDER/shared/reftss/artifacts/2024-06-04_refTSS_v4.1_human_coordinate_srtdb_overlap_for_cutoff_22_3000_upstream_500_downstream_sorted_overlap_w_gencode_v41_genes_unique_w_header.bed.gz"


  }
  
  hg19 {
       params.reference_genome = "$ROOT_FOLDER/models/sure/surecnn/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
  }
  
  hg38 {
       params.reference_genome = "$ROOT_FOLDER/models/sure/surecnn/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  }
  
  slurm {
    
    process {
      
      withName: add_trinucleotide {
        memory = 20.GB
        time = '23 hour 50 sec'
        cpus = 1
      }
      
      withName: wilcoxon_compare {
        memory = 32.GB
        time = '6 hour 50 sec'
        cpus = 1
      }
    }
  }
  

}
