includeConfig "$HOME/.nextflow/config"
includeConfig "./../general/nextflow.config"

profiles {
  
  default_params {
    
    //PANGOLIN
    params.pangolin_params = "-m False -d 500 --column_ids 'CHR,POS,REF,ALT' "
    
  }
  
  hg38 {
  
    params.reference_genome = "$ROOT_FOLDER/umcg-curzua/scratch_cgut/pangolin_predict/Homo_sapiens.GRCh38.dna.primary_assembly_chr.fa"
    params.pangolin_annotation = "$ROOT_FOLDER/umcg-curzua/scratch_cgut/pangolin_predict/gencode.v38.annotation.db"
  
  }
  
  hg19 {
    params.reference_genome = "$ROOT_FOLDER/umcg-curzua/scratch_cgut/pangolin_predict/Homo_sapiens.GRCh37.75.dna.primary_assembly_chr.fa"
    params.pangolin_annotation = "$ROOT_FOLDER/umcg-curzua/scratch_cgut/pangolin_predict/gencode.v38lift37.annotation.db"
  }
  
  slurm {
    
    process {
      
      withName: pangolin_tsv_like {
        memory = 16.GB
        time = '6 hour 50 sec'
        cpus = 1
      }
    }
  }
  
  umcg {
    
    process {
      errorStrategy = 'terminate'
      maxRetries = 3
      
    }
  }
  
  sif {
    process {
    
      pangolin_sif = "$ROOT_FOLDER/shared/singularity/containers_cgut/pangolin_git.sif"
      
      withName: pangolin_tsv_like {
        container = pangolin_sif
        time = '6 hour 50 sec'
      }
    }

    
  }
}
